#logo{
  width: 100%;
  height: 9rem;
  margin: 0 0 2rem 0;
}

#option1Page, #option2Page, #option3Page{
  text-align: left;
  width: 95%;
  height: 100%;
  background-color: #f1f3f4;
  margin: 0 0 0 7rem;
}

#option1Page{
  opacity: 0;
  animation-name: card_appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 6.5s;
  animation-fill-mode: forwards;
}

#link1, #link2, #link3, #link4, #link5, #link6, #link7, #link8, #link9, #link10{
  text-decoration: none;
  color: #bbc4ca;
  margin: 1rem 0 1rem 0;
  font-size: 2rem;
}

#link1{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6s;
}


#link2{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.1s;
}

#link3{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.2s;
}

#link4{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.3s;
}

#link5{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.4s;
}

#link6{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.5s;
}

#link7{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.6s;
}

#link8{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.7s;
}

#link9{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.8s;
}

#link10{
  animation-name: link_pulse;
  animation-duration: 0.5s;
  animation-delay: 6.9s;
}

@keyframes link_pulse{
  0% {font-size: 2rem;}
  50% {font-size: 2.5rem;}
  100% {font-size: 2rem;}
}

#option1Content{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#monthlyRevOverview, #dailyRevOverview{
  margin: 3rem 0 0 0;
}

#revOverviewCard1, #revOverviewCard2{
  position: relative;
  width: 76%;
  height: 25rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  margin: 0 0.5rem  0.5rem 0;
  box-shadow: 0px 0px 10px 1px #d9d9d9;
}

#revenueChart, #revenueChart1{
  position: absolute;
  bottom: 0.5rem;
}

.App {
  text-align: center;
  overflow-x: hidden;
  background-color: #f1f3f4;
}

#navbar {
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 3rem;
  height: 100%;
  text-align: center;
  position: fixed;
  background-color: #ffffff;
  animation-name: navbar_appear;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes navbar_appear {
  0% {position: absolute; left: -6rem;}
  50% {left: 0;}
  100% {opacity: 1; position: fixed;}
}

#navbarLinks{
  display: flex;
  flex-direction: column;
}

#yearSelect, #monthSelect{
  position: absolute;
  top: 2rem;
  right: 12rem;
  background-color: #4b4b4b;
  border: none;
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

#heroContainer{
  display: flex;
}

#totalRevContainer{
  width: 41%;
  height: 34rem;
  margin: 18rem 0 0 0;
}

#shopWisePerfContainer{
  width: 35%;
  height: 34rem;
}

.shopWisePerformance{
  width: 100%;
  height: 34rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px 1px #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallCard{
  background: #ffffff;
  box-shadow: 0px 0px 10px 1px #d9d9d9;
  border-radius: 0.3rem;
  position: relative;
}

.smallCardValue{
  color: #000000;
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

.smallCardTitle{
  color: #929292;
  margin: 0;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

#shopCard{
  background: #ffffff;
  box-shadow: 0px 0px 10px 1px #d9d9d9;
  border-radius: 0.3rem;
  position: relative;
}

@keyframes card_appear{
  0% {opacity: 0;}
  100%{opacity: 1;}
}

