#logo{
  width: 100%;
  height: 9rem;
  margin: 0 0 2rem 0;
}

#option1Page, #option2Page, #option3Page{
  text-align: left;
  width: 85%;
  height: 100%;
  background-color: #f4f2f7;
  margin: 0 0 0 21rem;
}

#link1, #link2, #link3{
  text-decoration: none;
  background-color: #9481b1;
  color: #ffffff;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

#option1Content{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#monthlyRevOverview, #dailyRevOverview{
  margin: 3rem 0 0 0;
}

#revOverviewCard1, #revOverviewCard2{
  position: relative;
  width: 90%;
  height: 25rem;
  background-color: #ffffff;
  border-radius: 0.7rem;
  margin: 0 0.5rem  0.5rem 0;
  box-shadow: 0px 0px 10px 1px #d9d9d9;
}

#revenueChart, #revenueChart1{
  position: absolute;
  bottom: 0.5rem;
}

.App {
  text-align: center;
  overflow-x: hidden;
  background-color: #f4f2f7;
}

#navbar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 16rem;
  height: 90%;
  margin: 1rem 0 0 0.5rem;
  text-align: left;
  position: fixed;
  background-color: #9481b1;
  border-radius: 0.7rem;
}

#yearSelect, #monthSelect{
  position: absolute;
  top: 2rem;
  right: 12rem;
  background-color: #9481b1;
  border: none;
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

#heroContainer{
  display: flex;
}

.totalSaleWeekly, .totalSaleMonthly, .totalSaleYearly{
  width: 100%;
  height: 10rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  margin: 0.5rem;
  box-shadow: 0px 0px 10px 1px #d9d9d9;
}

#totalRevContainer{
  width: 50%;
  height: 34rem;
}

#shopWisePerfContainer{
  width: 40%;
  height: 34rem;
}

.shopWisePerformance{
  width: 100%;
  height: 34rem;
  background-color: #ffffff;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 10px 1px #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#smallCard{
  background: #ffffff;
  box-shadow: 0px 0px 10px 1px #d9d9d9;
  border-radius: 0.7rem;
  position: relative;
}

.smallCardValue{
  color: #000000;
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

.smallCardTitle{
  color: #929292;
  margin: 0;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

