#logo{
  width: 100%;
  height: 9rem;
  margin: 0 0 2rem 0;
}

#option1Page, #option2Page{
  text-align: left;
  width: 85%;
  height: 100%;
  background-color: #f4f2f7;
  margin: 0 0 0 14rem;
}

#link1, #link2, #link3{
  text-decoration: none;
  background-color: #ffffff;
  color: #9481b1;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

#option1Content{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#monthlyRevOverview, #dailyRevOverview{
  margin: 3rem 0 0 0;
}

#revOverviewCard1, #revOverviewCard2{
  position: relative;
  width: 100%;
  height: 25rem;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 0 0.5rem  0.5rem 0;
}

#revenueChart, #revenueChart1{
  position: absolute;
  bottom: 0.5rem;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

#navbar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 12rem;
  height: 100%;
  text-align: left;
  position: fixed;
}

#yearSelect, #monthSelect{
  position: absolute;
  top: 2rem;
  right: 12rem;
  background-color: #9481b1;
  border: none;
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

#heroContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalSaleWeekly, .totalSaleMonthly, .totalSaleYearly{
  width: 100%;
  height: 10rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

#totalRevContainer{
  width: 45%;
  height: 33rem;
}


#shopWisePerformance{
  width: 45%;
  height: 30rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 1rem;
}

